/* 公共常量 */
$base-color: #00B09C;
$base-backgourd-color: #F0F2F5;
$base-border-color: #e9e9e9;


/* 公共布局常量 */

/* 面包屑 */
$breadcrumb-height: 56px;
$breadcrumb-zIndex: 9;

/* 侧边栏 */
$sidebar-width: 256px;
$sidebar-zIndex: 10;
$sidebar-background: #fff;
$sidebar-actived-background: #DAF3F1;
$sidebar-color: #0B413F;
$sidebar-collapsed-width: 80px;

/* 页头 */
$header-min-width: 1200px;
$header-height: 64px;
$header-zIndex: 11;
$header-backgroud: #2E3B3B;

/* 页尾 */
$footer-height: 64px;
$footer-zIndex: 11;
