<div class="gantt-chart">
  <div
    class="gantt-table" [style.width]="width ? width + 'px' : '100%'">
    <div class="table-head">
      <div class="table-th has-border-right" [style.width]="cellWidth"></div>
      <ng-container *ngFor="let head of heads">
        <div class="table-th" [style.width]="cellWidth">{{head}}</div>
      </ng-container>
    </div>
    <div class="table-body">
      <ng-container *ngFor="let item of data">
        <div class="table-row">
          <div class="table-td has-border-right" [style.width]="cellWidth">{{item.name}}</div>
          <ng-container *ngFor="let data of item.list">
            <ng-container *ngIf="tooltip">
              <div class="table-td" [style.width]="data.width" [attr.colspan]="data.colspan" nz-tooltip nzTooltipPlacement="top" [nzTooltipTitle]="data.title">
                <div
                  *ngIf="data.title"
                  class="has-event"
                  [style.background]="data.bg"
                  [style.color]="data.color || '#fff'"></div>
              </div>
            </ng-container>
            <ng-container *ngIf="!tooltip">
              <div class="table-td" [style.width]="data.width" [attr.colspan]="data.colspan">
                <div
                  *ngIf="data.title"
                  class="has-event"
                  [style.background]="data.bg"
                  [style.color]="data.color || '#fff'">{{data.title}}</div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
