.map-container {
  position: relative;
  height: 100%;
  .page-map {
    min-height: 500px;
    height: 100%;
  }
  .map-back {
    position: absolute;
    right: 16px;
    top: 12px;
    color: #a6d2ff;
    font-size: 12px;
    cursor: pointer;
    z-index: 1;
  }
}