<div class="digital">
  <ng-container *ngFor="let item of numList; let i = index">
    <ng-container [ngSwitch]="item">
      <div
        class="digital-item"
        [style.marginLeft]="space  + 'px'"
        [style.marginRight]="space  + 'px'"
        [style.transform]="'rotate(' + angle + 'deg)'"
        *ngSwitchCase="'.'">
        <div
          class="dot"
          [style.width]="lineWidth + 'px'"
          [style.height]="lineWidth + 'px'"
          [style.backgroundColor]="color">
        </div>
      </div>
      <div
        [ngClass]="['digital-item', nameList[item]]"
        [style.marginLeft]="space  + 'px'"
        [style.marginRight]="space  + 'px'"
        [style.width]="xLen + lineWidth * 2 + 'px'"
        [style.height]="yLen * 2 + lineWidth * 4 + gap * 3 + 'px'"
        [style.transform]="'rotate(' + angle + 'deg)'"
        *ngSwitchDefault>
        <div
          class="stroke-item s1"
          [style.top]="0"
          [style.left]="lineWidth + 'px'">
          <div
            class="angle"
            [style.top]="0"
            [style.left]="-lineWidth + 'px'"
            [style.borderWidth]="'0 ' + lineWidth + 'px ' + lineWidth + 'px 0'"
            [style.borderColor]="'transparent ' + color + ' transparent transparent'">
          </div>
          <div
            class="line"
            [style.top]="0"
            [style.width]="xLen + 'px'"
            [style.height]="lineWidth + 'px'"
            [style.backgroundColor]="color">
          </div>
          <div
            class="angle"
            [style.top]="0"
            [style.right]="-lineWidth + 'px'"
            [style.borderWidth]="'0 0 ' + lineWidth + 'px ' + lineWidth + 'px'"
            [style.borderColor]="'transparent transparent transparent ' + color">
          </div>
        </div>
        <div
          class="stroke-item s2"
          [style.marginTop]="-lineWidth / 2 + 'px'"
          [style.top]="'50%'"
          [style.left]="lineWidth / 2 + gap / 2 +  'px'">
          <div
            class="angle"
            [style.top]="0"
            [style.left]="(-lineWidth) + 'px'"
            [style.borderWidth]="lineWidth / 2 + 'px'"
            [style.borderColor]="'transparent ' + color + ' transparent transparent'">
          </div>
          <div
            class="line"
            [style.top]="0"
            [style.width]="xLen + lineWidth - gap + 'px'"
            [style.height]="lineWidth + 'px'"
            [style.backgroundColor]="color">
          </div>
          <div
            class="angle"
            [style.top]="0"
            [style.right]="(-lineWidth) + 'px'"
            [style.borderWidth]="lineWidth / 2 + 'px'"
            [style.borderColor]="'transparent transparent transparent ' + color">
          </div>
        </div>
        <div
          class="stroke-item s3"
          [style.bottom]="0"
          [style.left]="lineWidth + 'px'">
          <div
            class="angle"
            [style.top]="0"
            [style.left]="-lineWidth + 'px'"
            [style.borderWidth]="lineWidth + 'px ' + lineWidth + 'px 0 0'"
            [style.borderColor]="'transparent ' + color + ' transparent transparent'">
          </div>
          <div
            class="line"
            [style.top]="0"
            [style.width]="xLen + 'px'"
            [style.height]="lineWidth + 'px'"
            [style.backgroundColor]="color">
          </div>
          <div
            class="angle"
            [style.top]="0"
            [style.right]="-lineWidth + 'px'"
            [style.borderWidth]="lineWidth + 'px ' + '0 0 ' + lineWidth + 'px'"
            [style.borderColor]="'transparent transparent transparent ' + color">
          </div>
        </div>
        <div
          class="stroke-item s4"
          [style.top]="lineWidth + gap + 'px'"
          [style.left]="0">
          <div
            class="angle"
            [style.left]="0"
            [style.top]="-lineWidth + 'px'"
            [style.borderWidth]="'0' +  lineWidth + 'px ' + lineWidth + 'px 0'"
            [style.borderColor]="'transparent transparent transparent ' + color">
          </div>
          <div
            class="line"
            [style.left]="0"
            [style.height]="yLen + 'px'"
            [style.width]="lineWidth + 'px'"
            [style.backgroundColor]="color">
          </div>
          <div
            class="angle"
            [style.left]="0"
            [style.bottom]="-lineWidth + 'px'"
            [style.borderWidth]="'0 0 ' + lineWidth + 'px ' + lineWidth + 'px'"
            [style.borderColor]="'transparent transparent transparent ' + color">
          </div>
        </div>
        <div
          class="stroke-item s5"
          [style.top]="lineWidth + gap + 'px'"
          [style.right]="0">
          <div
            class="angle"
            [style.left]="0"
            [style.top]="-lineWidth + 'px'"
            [style.borderWidth]="'0 0 ' +  lineWidth + 'px ' + lineWidth + 'px'"
            [style.borderColor]="'transparent transparent ' + color + ' transparent'">
          </div>
          <div
            class="line"
            [style.left]="0"
            [style.height]="yLen + 'px'"
            [style.width]="lineWidth + 'px'"
            [style.backgroundColor]="color">
          </div>
          <div
            class="angle"
            [style.left]="0"
            [style.bottom]="-lineWidth + 'px'"
            [style.borderWidth]="lineWidth + 'px ' + '0 0 ' +  lineWidth + 'px'"
            [style.borderColor]="color + ' transparent transparent transparent'">
          </div>
        </div>
        <div
          class="stroke-item s6"
          [style.bottom]="lineWidth + gap + 'px'"
          [style.left]="0">
          <div
            class="angle"
            [style.left]="0"
            [style.top]="-lineWidth + 'px'"
            [style.borderWidth]="'0' +  lineWidth + 'px ' + lineWidth + 'px 0'"
            [style.borderColor]="'transparent transparent transparent ' + color">
          </div>
          <div
            class="line"
            [style.left]="0"
            [style.height]="yLen + 'px'"
            [style.width]="lineWidth + 'px'"
            [style.backgroundColor]="color">
          </div>
          <div
            class="angle"
            [style.left]="0"
            [style.bottom]="-lineWidth + 'px'"
            [style.borderWidth]="'0 0 ' + lineWidth + 'px ' + lineWidth + 'px'"
            [style.borderColor]="'transparent transparent transparent ' + color">
          </div>
        </div>
        <div
          class="stroke-item s7"
          [style.bottom]="lineWidth + gap + 'px'"
          [style.right]="0">
          <div
            class="angle"
            [style.left]="0"
            [style.top]="-lineWidth + 'px'"
            [style.borderWidth]="'0 0 ' +  lineWidth + 'px ' + lineWidth + 'px'"
            [style.borderColor]="'transparent transparent ' + color + ' transparent'">
          </div>
          <div
            class="line"
            [style.left]="0"
            [style.height]="yLen + 'px'"
            [style.width]="lineWidth + 'px'"
            [style.backgroundColor]="color">
          </div>
          <div
            class="angle"
            [style.left]="0"
            [style.bottom]="-lineWidth + 'px'"
            [style.borderWidth]="lineWidth + 'px ' + '0 0 ' +  lineWidth + 'px'"
            [style.borderColor]="color + ' transparent transparent transparent'">
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>